@import url("fonts.css");

:root {
  font-family: Alexandria, system-ui, sans-serif;
  color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #292b3d;
}