---
import Layout from "@/layouts/Layout.astro";

import StatusBar from "@/components/StatusBar.svelte";
import UltimateBoard from "@/components/UltimateBoard.svelte";
import Board from "@/components/Board.svelte";
---

<Layout>
	<div class="game">
		<StatusBar client:load />
		<UltimateBoard client:load />
	</div>
</Layout>

<style>
	.game {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		font-size: 3rem;
	}
</style>
