---
import Layout from "../layouts/Layout.astro";

import tauriLogo from "../assets/tauri.svg";
import javascriptLogo from "../assets/javascript.svg";
---

<script type="module">
	let greetInputEl;
	let greetMsgEl;

	async function greet() {
		if (typeof window !== "undefined" && window.__TAURI__) {
			const { invoke } = window.__TAURI__.core;
			greetMsgEl.textContent = await invoke("greet", { name: greetInputEl.value });
		} else {
			greetMsgEl.textContent = `Hello, ${greetInputEl.value}! You've been greeted from the web!`;
		}
	}

	window.addEventListener("DOMContentLoaded", () => {
		greetInputEl = document.querySelector("#greet-input");
		greetMsgEl = document.querySelector("#greet-msg");
		document.querySelector("#greet-form").addEventListener("submit", (e) => {
			e.preventDefault();
			greet();
		});
	});
</script>

<Layout>
	<main class="container">
		<h1>Welcome to Tauri</h1>

		<div class="row">
			<a href="https://tauri.app" target="_blank">
				<img src={tauriLogo.src} class="logo tauri" alt="Tauri logo" />
			</a>
			<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
				<img src={javascriptLogo.src} class="logo vanilla" alt="JavaScript logo" />
			</a>
		</div>
		<p>Click on the Tauri logo to learn more about the framework</p>

		<form class="row" id="greet-form">
			<input id="greet-input" autocomplete="off" placeholder="Enter a name..." />
			<button type="submit">Greet</button>
		</form>
		<p id="greet-msg"></p>
	</main>
</Layout>
